<nav aria-label="...">
  <ul class="pagination">
    
    <li 
      
      class="page-item"
      [appClass]="{ disabled: currentPage === 0}"
    >
      <a (click)="currentPage  = currentPage - 1"  href="#" class="page-link">Prev</a>
    </li>

  <ng-container *appTimes="cards.length; let i = index" >
    
    <li
      *ngIf="checkWindowIndex(i)"
      class="page-item "
      [appClass]="{ active: i === currentPage }"  
      >
      <a (click)="currentPage = i" class="page-link" href="#" tabindex="-1">{{ i + 1 | number }}</a>
    </li>
  </ng-container>
    
  <li 
      
      class="page-item"
      [appClass]="{disabled: currentPage === cards.length -1 }"
    >
      <a (click)="currentPage  = currentPage + 1" href="#" class="page-link">Next</a>
    </li>
  </ul>
</nav>



<div>
  <h4 >{{ cards[currentPage].name  }}</h4>
  <img [src]="cards[currentPage].card_images[0].image_url" alt="">
</div>

